@font-face {
  font-family: "digital-clock-font";
  src: url("../FONTS/Technology.ttf");
}
:root {
  --color2: #e6e6e6;
  --color1: #181818;

  --boxshadow1:#bebebe;
  --boxshadow2:#ffffff;

}

[tema="dark"] {
  --color1: #e6e6e6;
  --color2: #181818;


  --boxshadow1:#141414;
  --boxshadow2:#0e0e0e;

}

body {
  transition: 1s;
  background-color: var(--color2);
  color: var(--color1);
}

.container {
  margin: 5% 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.timeContainer {
  display: block;
  width: 350px;
  padding: 4rem;
  margin: 2rem;
  font-family: "digital-clock-font";

  border-radius: 25px;


  background: var(--color01);
  box-shadow: 20px 20px 60px var(--boxshadow1), -20px -20px 60px var(--boxshadow2);
}
.timeContainer div {
  font-size: 100px;
  font-weight: bold;
}
.timeContainer a {
  font-size: 22px;
}



/*nav*/

nav {
  display: flex;
  justify-content: center;
  padding: 20px 25px;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #0e0e0e;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}